/*
 */
 body {
    margin: 0px;
    padding: 0px;
    color: #414141;
    overflow-y:scroll;
    padding-top: 60px;
    padding-bottom: 40px;
}
svg {
    height: auto !important;
}
text {
  font: 12px sans-serif;
}
#searchForm div.input, #searchForm .help-block {
  display: inline-block;
}
#idQueryUrl {
}
#idQueryUrl_field label {
    display: none;
}
#idQueryUrl_field input {
    margin-top: 20px;
}